<!-- About Section -->
<section id="over" class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h2>Visie</h2>
        <p>
          Vanuit een sterke technische onderbouw willen we maatschappelijk
          relevante projecten realiseren. Onze aanpak is doordacht en in balans
          met de betreffende context. Voor ons primeert een heldere communicatie
          en degelijk eindresultaat op een oppervlakkige beeldcultuur. We
          proberen de meest recente teken- en communicatie technieken te
          implementeren (Revit, BIM).
        </p>
      </div>
      <div class="col text-center">
        <h2>Info</h2>
        <p>RHO Architecten BV</p>
        <p>Markt 20</p>
        <p>9140 Temse</p>
        <p>ON 0807 055 935</p>
      </div>
    </div>
  </div>
</section>
