 <!-- Navigation -->
    <nav class="navbar navbar-custom fixed-top" role="navigation">
        <a class="navbar-brand" href="#page-top">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#about">Over</a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#vision">Visie</a>
                </li>
                <li>
                    <a class="nav-link page-scroll" href="#references">Referenties</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>