    <!-- References Section -->
    <section id="references" class="container content-section text-center">
        <div class="row">
            <h2>Referenties</h2>
            {% for reference in site.data.references %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="card">
                        <figure>
                    {% for picture in reference.pictures %}
                        <img class="img-fluid" src="img/{{ picture }}">
                    {% endfor %}
                    <figcaption>{{ reference.caption }}</figcaption>
                    </figure>
                    <div class="card-header">{{ reference.category }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ reference.title }}</h5>
                            <p class="card-text">{{ reference.location }}</p>
                            <p class="card-text">{{ reference.budget }}</p>
                            <p class="card-text">{{ reference.description }}</p>
                        </div>
                    </div>                   
                </div>
            {% endfor %}
        </div>
    </section>